header {
    background-color: black;
    color: #EFEFEF;
    padding: 20px 50px; 
    font-family: fantasy;
    text-align: center;
}

figcaption.mindmap {
    font-family: fantasy;
    text-align: center;
}

figcaption.icons {
    font-family: fantasy;
}

article > time {
    float: right;
    font-size: 0.75em;
    font-weight: lighter;
}

article > p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
    padding: 5px 10px;
}

footer {
    background-color: #e0dbdb;
    padding: 5px 10px;
}

h3, article h4 {
    color: rgb(245, 157, 26);
}

figure.langicon { 
    display: inline-block;
}